/** Add css rules here for your application. */

button {
  display: block;
}

.widePanel {
  width: 100%
}

.gwt-SuggestBoxPopup {
margin-left: 3px;
z-index: 1000000;
}

.dateBoxPopup {
    z-index: 1000000;
}